.container {
  padding: 0 2rem;
}

.main {
  width: 70%;
  min-width: 850px;
  margin: auto;
  min-width: min(700px, 95%)
}


.threecont {
  display: flex;
  justify-content: justify-around;
  align-items: center;
  width: 100%;
}

.threecont .rightcont {
  margin-left: 1vw;
}

.gridcont {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gridcont>* {
  margin: 10px 5px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* @media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
} */